html, body {
    height: 100%;
}

.continer {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .5rem .5rem;
}

.continer .item {
    text-align: center;
}

.continer .item-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    background-color: blueviolet;
}

.continer .item-2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / span 2;
    grid-row: 1 / span 4;
    background-color: aqua;
}

.continer .item-2 .item-2-1 {
    background-color: gold;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.continer .item-2 .item-2-2 {
    background-color: goldenrod;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.continer .item-2 .item-2-3 {
    background-color: yellowgreen;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

.continer .item-3 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 4;
    background-color: cadetblue;
}

.continer .item-4 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 4;
    background-color: darkgreen;
}

.continer .item-5 {
    grid-column: 1 / span 5;
    grid-row: 5 / span 1;
    background-color: coral
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.7);
}

.detail-panel {
    color: #fff;
    text-align: center;
}

.detail-panel .detail {
    display: none;
    margin: 0 auto;
    padding-top: 10%;
    width: 85%;
}

.detail-panel .detail .detail-title {
    font-size: 24px;
}